<% layout('./layouts/boilerplate.ejs') -%>
<link rel="stylesheet" href="/css/allUsers.css">
<body>
    <h3 class="text-center mb-3">ALL MEMBERS</h3>
    <div class="search-bar">
      <input type="text" placeholder="Enter User Full Name">
      <button class="search-btn">Search</button>
    </div>
    <div class="all-users">
      <% if(users.length==0) { %>
        <h4 class="no-user-exists">No Users Found !</h4>
      <% } %>

        <% for(user of users){ %>
            <a href="/allUsers/<%=user.id%>" class="each-user">
              <i class="fa-solid fa-user"></i>
              <div class="user-det">
                <p class="username"><%=user.name%></p>
                <p>Ph. No. : <%=user.contact%></p>
                <p>Borrows : <%=user.borrows%></p>
              </div>
              <% if(user.role=='admin'){ %>
                <span class="user-role"><%=user.role%></span>
              <% } %>
            </a>
        <% } %>
    </div>
</body>
<script>
  document.querySelector('.search-bar>button').addEventListener('click', function() {
    const username = document.querySelector('.search-bar>input').value;
    window.location.href = `/allUsers?username=${encodeURIComponent(username)}`;
  });
</script>