<% layout('/layouts/boilerplate') -%>
<link rel="stylesheet" href="/css/addBook.css">
<body>
    <div class="col-8 offset-2 mt-3 addForm">
        <h3 class="text-center">EDIT/UPDATE MEMBER DETAILS</h3><br>
        <form method="POST" action="/allUsers/<%=currUser.id%>?_method=PUT">
            <div class="mb-3">
                <label for="name" class="form-label">Full Name</label>
                <input name="user[name]" type="text" value="<%=currUser.name%>" class="form-control" required>
            </div>
            <div class="row">
                <div class="mb-3 col-6">
                    <label for="deb" class="form-label">Date of Birth</label>
                    <input name="user[dob]" type="date" value="<%= new Date(currUser.dob).toISOString().split('T')[0] %>" class="form-control" class="form-control" required>
                </div>
                <div class="mb-3 col-6 text-center">
                    <label for="gender" class="form-label mb-3">Select Gender</label>
                    <div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="user[gender]" value="Male" <%= currUser.gender === 'MALE' ? 'checked' : '' %> required>
                            <label class="form-check-label" for="gender">Male</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="user[gender]" value="Female" <%= currUser.gender === 'FEMALE' ? 'checked' : '' %> required>
                            <label class="form-check-label" for="gender">Female</label>
                          </div>
                    </div>
                </div>
            </div>
            <div class="mb-3 col-12">
                <label for="address" class="form-label">Address</label>
                <textarea name="user[address]" type="text" class="form-control" required><%=currUser.address%></textarea>
            </div>
            <div class="row">
                <div class="mb-3 col-4">
                    <label for="contact" class="form-label">Phone Number</label>
                    <input name="user[contact]" type="number" value="<%=currUser.contact%>" class="form-control" required>
                </div>
                <div class="mb-3 col-8">
                    <label for="emailId" class="form-label">Email ID</label>
                    <input name="user[emailId]" type="email" value="<%=currUser.emailId%>" class="form-control" required>
                </div>
            </div>
            
            <button class="btn btn-danger mt-3 offset-5">Submit</button>
        </form>
    </div>
</body>
